body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 25px;
    position: relative;
    
}

.navbar-logo img {
    height: 72px;
}

.navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar-menu li {
    margin: 0;
}

.navbar-menu li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
    padding: 0 15px;

}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
}

.navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 2px 0;
}

.parrafo-cont {
    text-align: justify;
}
.contenido h2, .subtitulo-cont, .parrafo-cont {
    margin: 0px 72px 0px 72px;
    padding-top: 10px;
}
h1 {
    color: black;
    text-transform: uppercase;
    font-size: 36px;
    text-align: start;
    margin: 72px;
    padding: 0;
}
h3 {
    color:dimgray;
    text-transform: uppercase;
    font-size: 12px;
    text-align: start;
    padding: 0;
    margin:0;
}
hr {
    border: 1px solid black;
    margin: 20px;
}

.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    bottom: 0;
    padding: 20px;
    margin: 0;
}
.habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.habilidades .columna {
    flex-basis: 48%; /* Ajusta el ancho de las columnas al 48% para dejar espacio entre ellas */
    max-width: 48%; /* Asegura que el ancho máximo de las columnas sea del 48% */
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
    margin-bottom: 20px; /* Espacio inferior entre las filas */
    font-size: 14px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .habilidades .columna {
        flex-basis: 48%; /* Mantiene el ancho de las columnas al 48% en pantallas pequeñas */
        max-width: 48%; /* Asegura que el ancho máximo de las columnas sea del 48% */
        font-size: 12px; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    }
    .contenido h2, .subtitulo-cont, .parrafo-cont {
        margin: 20px 30px 30px 30px;
    }
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        position: absolute;
        top: 128px; /* Ajusta según la altura del navbar */
        left: 0;
        padding: 10px 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 10px 0;
        text-align: right;
        padding-left: 20px;
    }

    .navbar-toggle {
        display: flex;
    }
    h1 {
        margin: 30px;
    }
}

.link-f {
    text-decoration: none;
    color: red;
}